In [4]:
 Select Distinct(Department) from Employee

Department
Advertising
Production
Sales
Shipping

In [28]:
ALTER TABLE Employee DROP COLUMN [Hire Date];

In [32]:
INSERT into Employee (Name,Department,Training) VALUES ('Ambuj', 'Production', '24')

In [33]:
SELECT * FROM Employee

EmployeeID,Name,Department,Training,Location
1234,J. Jones,Sales,24,NULL
2345,S. Smith,Production,40,NULL
3456,A. Adams,Sales,60,NULL
4567,B. Bates,Advertising,16,NULL
5678,D. Davis,Production,56,NULL
6789,C. Cole,Shipping,32,NULL
NULL,Ambuj,Production,24,NULL
8901,F.Files,Advertising,24,NULL
9012,G. Gates,Advertising,48,NULL

In [31]:
ALTER TABLE [Employee] ALTER COLUMN [Department] [varchar]

: Msg 2628, Level 16, State 1, Line 1
String or binary data would be truncated in table 'Ambuj.dbo.Employee', column 'Department'. Truncated value: ''.

In [29]:
SELECT * FROM Employee

EmployeeID,Name,Department,Training,Location
1234,J. Jones,Sales,24,NULL
2345,S. Smith,Production,40,NULL
3456,A. Adams,Sales,60,NULL
4567,B. Bates,Advertising,16,NULL
5678,D. Davis,Production,56,NULL
6789,C. Cole,Shipping,32,NULL
8901,F.Files,Advertising,24,NULL
9012,G. Gates,Advertising,48,NULL

In [24]:
SELECT * FROM Employee

EmployeeID,Name,Department,Hire Date,Training,Location
1234,J. Jones,Sales,1992-06-18 00:00:00.000,24,NULL
2345,S. Smith,Production,1998-02-12 00:00:00.000,40,NULL
3456,A. Adams,Sales,1998-11-18 00:00:00.000,60,NULL
4567,B. Bates,Advertising,1985-03-10 00:00:00.000,16,NULL
5678,D. Davis,Production,1999-07-26 00:00:00.000,56,NULL
6789,C. Cole,Shipping,1991-05-18 00:00:00.000,32,NULL
8901,F.Files,Advertising,1990-10-17 00:00:00.000,24,NULL
9012,G. Gates,Advertising,1999-03-15 00:00:00.000,48,NULL

In [23]:
DELETE FROM Employee WHERE Training > 60

In [22]:
SELECT * FROM Employee WHERE Training>40

EmployeeID,Name,Department,Hire Date,Training,Location
3456,A. Adams,Sales,1998-11-18 00:00:00.000,60,NULL
5678,D. Davis,Production,1999-07-26 00:00:00.000,56,NULL
7890,E. Ellis,Sales,1998-12-15 00:00:00.000,80,NULL
9012,G. Gates,Advertising,1999-03-15 00:00:00.000,48,NULL

In [21]:
SELECT   * from NewEmployee

In [20]:
Select * Into NewEmployee From Employee Where 1 = 2

In [16]:
SELECT   * from Employee
WHERE    [Hire Date] between  '1991-01-01' AND  '1998-12-31'

EmployeeID,Name,Department,Hire Date,Training,Location
1234,J. Jones,Sales,1992-06-18 00:00:00.000,24,NULL
2345,S. Smith,Production,1998-02-12 00:00:00.000,40,NULL
3456,A. Adams,Sales,1998-11-18 00:00:00.000,60,NULL
6789,C. Cole,Shipping,1991-05-18 00:00:00.000,32,NULL
7890,E. Ellis,Sales,1998-12-15 00:00:00.000,80,NULL

In [10]:
Select * from Employee WHERE Department in ('Sales','Shipping')

EmployeeID,Name,Department,Hire Date,Training,Location
1234,J. Jones,Sales,1992-06-18 00:00:00.000,24,NULL
3456,A. Adams,Sales,1998-11-18 00:00:00.000,60,NULL
6789,C. Cole,Shipping,1991-05-18 00:00:00.000,32,NULL
7890,E. Ellis,Sales,1998-12-15 00:00:00.000,80,NULL

In [7]:
sp_rename 'Employee.Emp ID', 'EmployeeID'

: Msg 15225, Level 11, State 1, Procedure sp_rename, Line 436
No item by the name of 'Employee.Emp ID' could be found in the current database 'Ambuj', given that @itemtype was input as '(null)'.

In [8]:
Select * from Employee

EmployeeID,Name,Department,Hire Date,Training,Location
1234,J. Jones,Sales,1992-06-18 00:00:00.000,24,NULL
2345,S. Smith,Production,1998-02-12 00:00:00.000,40,NULL
3456,A. Adams,Sales,1998-11-18 00:00:00.000,60,NULL
4567,B. Bates,Advertising,1985-03-10 00:00:00.000,16,NULL
5678,D. Davis,Production,1999-07-26 00:00:00.000,56,NULL
6789,C. Cole,Shipping,1991-05-18 00:00:00.000,32,NULL
7890,E. Ellis,Sales,1998-12-15 00:00:00.000,80,NULL
8901,F.Files,Advertising,1990-10-17 00:00:00.000,24,NULL
9012,G. Gates,Advertising,1999-03-15 00:00:00.000,48,NULL